body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#dogImageContainer {
    margin-top: 20px;
}

#dogImage {
    max-width: 100%;
}

#getDogButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
